<div class='container'>
<%= render 'shared/nav' %> 

  <div class='bar'></div>

  <div class='holder'>
    <div>
      <%= @user.profile.username %> <%= link_to "Change", edit_profile_path(current_user) %>
    </div>

    <div>
      <%= @user.email %>
    </div>
  </div>

</nav>