<div class='container'>
  <%= render 'shared/nav' %> 
  
  <div class='user-holder'>
    <div class='user-box'>
      <div class='user'>
        <h1><%= @user.username %>'s Terrarium's</h1>
        <% if current_user? == true %>
          <%= link_to "Edit Username", profile_path(id: current_user.id) %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'shared/listings' %>
</div>