<div class='container'>
  <%= render 'shared/nav' %> 
  
  <div class='user-holder'>
    <div class='user'>
      <h1><%= @user.username %>'s Terrarium's</h1>
      <%= link_to "Edit Username", profile_path(id: current_user.id) %>
    </div>
  </div>

  <%= render 'shared/listings' %>
</div>