

.filter-search{
  width: 100%;
  background-color: #00800099;
  padding-bottom: 6px;
  .search-holder{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #90ee90;
    padding-bottom: 5px;
  }
}

.list-holder{
  width: 100%;
  display: flex;
  justify-content: center;

  .list{
    background-color: #00800099;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;

    
    .each{
      width: 98%;
      margin-bottom: 5px;
      display: grid;
      grid-template-columns: 1fr 2fr 3fr;
      background-color: #90ee90;
      border-radius: 5px;

      .col-1{
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 10px;
        .listing-image{
          img{
            border-radius: 5px;
            height: 200px;
            width: 200px;
            object-fit: cover;
          }
        }
      }

      .col-2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-column-start: 2;
        grid-column-end: 3;
        padding-left: 25px;
        .listing-title{
        }
        .sale{

        }
        .listing-size{
          
        }
        .listing-user{
          
        }
      }
      
      .col-3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-column-start: 3;
        grid-column-end: 4;
        padding: 0px 10px 0px 25px;
        .listing-description{
              
        }

        .section{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0px 35px 0px 0px;
          .date{

          }
          .show-button{

          }
        }
      }
    }
  }
}