// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.container{
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.listing{
  width: 50%;
  display: grid;
  // grid-template-rows: 1fr 1fr 1fr;
  // grid-template-columns: 1fr 1fr 1fr;
  .listing-title{
  
  }
  .sale{
   
  }
  .listing-description{
  
  }
  .listing-size{
 
  }
  .listing-image{

    img{
      height: 200px;
      width: 200px;
      object-fit: cover;
    }
  }
  .listing-user{
  
  }
  .show-button{

  }
}

